 .contact-section {
   background-color: var(--third-color);
   padding: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .title-general {
   padding-bottom: 20px;
 }

 .contact-inside {
   background-color: var(--second-color);
   border-radius: 20px;
   padding: 20px 40px;
   width: 500px;
   margin: auto;
 }

 @media screen and (max-width: 540px) {
   .contact-inside {
     width: 90%;
     padding: 20px;
   }
 }

 .contact h2,
 .delivery h2 {
   font-weight: 600;
   padding: 10px 0 15px;
   text-align: center;
 }

 .contact-info,
 .delivery-info {
   display: flex;
   flex-direction: column;
   gap: 20px;
 }

 .contact-item,
 .delivery-item {
   display: flex;
   align-items: center;
   gap: 5px;
   text-align: center;
   font-size: 20px;
 }

 .contact-item {
   cursor: pointer;
 }

 .delivery-item strong,
 .img-contact {
   width: 26px;
   height: 26px;
 }

 .contact-item span,
 .delivery-item span {
   flex-grow: 1;
   overflow: hidden;
   white-space: inherit;
 }

 @media screen and (max-width: 500px) {

   .contact-item span,
   .delivery-item span {
     width: 200px;
     font-size: 18px;
   }
 }

 @media screen and (max-width: 325px) {

   .contact-item span,
   .delivery-item span {
     font-size: 15px;
   }
 }