.section1 {
  height: 100vh;
  background: url("../../assets/portadaPC.jpg");
  background-size: 1024px 175%;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
}

.container-send-colombia {
  background-color: #f3f3f3;
  text-align: center;
  display: flex;
  height: 4%;
}

.container-send-colombia p {
  margin: auto;
}

.containerNavbar {
  background-color: var(--main-color);
  text-align: center;
  color: white;
  height: 8%;
  display: flex;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: auto;
  padding-left: 5px;
}

.navbar a,
.portada button {
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  font-size: larger;
}

/*  */
.navbar a:hover,
.portada button:hover {
  transform: scale(1.1);
  color: var(--hover-color);
}

.portada {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 88%;
  padding: 0 40px;
}

.logo {
  transform: scale(1);
}

.portada p {
  color: #000;
  text-align: center;
  font-size: 45px;
  font-weight: 500;
  text-shadow:
    1px 1px 0 #fff,
    -1px 1px 0 #fff,
    -1px -1px 0 #fff,
    1px -1px 0 #fff;
}

@media screen and (max-width: 625px) {
  .section1 {
    height: 100vh;
    background: url("../../assets/portada.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
  }

  .portada p {
    font-size: 35px;
  }
}

@media screen and (max-width: 397px) {
  .portada p {
    font-size: 25px;
    text-shadow:
      1px 1px 0 #fff,
      -1px 1px 0 #fff,
      -1px -1px 0 #fff,
      1px -1px 0 #fff;
  }

  .navbar a,
  .container-send-colombia p {
    font-size: small;
  }

}

.portada button {
  background-color: #f2e8d5;
  padding: 20px;
  color: #fff;
  font-size: 25px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: transparent;
}

.logoInstagram {
  margin-left: 10px;
  margin-top: 2px;
  transform: scale(1.5);
}

@media screen and (max-height:450px) {
  .section1 {
    height: auto;
    background-size: 100%;
  }

  .container-send-colombia {
    padding: 5px;
  }

  .navbar a {
    padding: 5px;
  }

  .portada {
    padding: 10px;
  }
}