 .whatDoing {
   background-color: var(--third-color);
   padding: 25px;
   gap: 25px;
   display: flex;
   flex-direction: column;
 }

 .points {
   text-align: center;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
 }

 @media screen and (max-width: 700px) {
   .points {
     flex-direction: column;
     gap: 15px;
   }
 }

 .points p {
   font-size: 22px;
   gap: 20px;
 }